<%= form_for(house, url:choose_new_or_edit, method:method_select) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{house.errors.count}件のエラーがあります。" %></h2>
      <ul>
        <% house.errors.full_messages.each do |msg| %>
          <li><%= "#{msg}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="house_name form-group">
    <%= f.label :name, "物件名" %>
    <%= f.text_field :name, placeholder: "物件名", class: "form-control" %>
  </div>
  <div class="house_price form-group">
    <%= f.label :price, "賃料" %>
    <%= f.number_field :price, placeholder: "賃料", class: "form-control" %>
  </div>
  <div class="house_address form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区円山町28番4号大場ビルA館", class: "form-control" %>
  </div>
  <div class="house_age form-group">
    <%= f.label :age, "築年数" %>
    <%= f.number_field :age, placeholder: "築年数", class: "form-control" %>
  </div>
  <div class="house_comment form-group">
    <%= f.label :comment, "備考" %>
    <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
  </div>

  <div class="stations">
    <% i = 0 %>
    <%= f.nested_fields_for :stations, wrapper_tag: :div do |form| %>
    <% i += 1 %>
    <p class="title"></p>
    <div class="form-row">
      <div class="stations_line col">
        <%= form.label :line, "路線名" %>
        <%= form.text_field :line, placeholder: "路線名", class: "form-control" %>
      </div>
      <div class="stations_price col" >
        <%= form.label :name, "駅名" %>
        <%= form.text_field :name, placeholder: "駅名", class: "form-control" %>
      </div>
      <div class="stations_take_minutes col">
        <%= form.label :take_minutes, "徒歩分数" %>
        <%= form.number_field :take_minutes, placeholder: "徒歩分数", class: "form-control" %>
      </div>
      <div class="delete_station col">
      <%= form.remove_nested_fields_link '最寄り駅を削除', class: 'btn btn-danger mt-6', role: 'button', id: "deleteSta" %>
      </div>
    </div>
    <% end %>
  <%= f.add_nested_fields_link :stations, '最寄り駅を追加', id: "addSta"%>
  <div class="form-submit"><%= f.submit class: "btn btn-primary" %></div>
  <%= link_to '戻る', houses_path, class: 'btn btn-default'%>
<% end %>

<script>
window.onload = () => {
  document.getElementsByClassName('title')[0].innerText = "最寄駅1"
  const button = document.getElementById('addSta')
  button.addEventListener('click', () => {
    setTimeout(() => {
      const titles = document.getElementsByClassName('title')
      for(i = 0; i < titles.length; i++){
        titles[i].innerHTML = `最寄駅${i+1}`
      }
    }, 1)
  })
}
</script>