<%= form_for(house, url: houses_path) do |f| %>
  <div class="house_name">
    <%= f.label :name, "物件名" %>
    <%= f.text_field :name, placeholder: "物件名" %>
  </div>
  <div class="house_price">
    <%= f.label :price, "賃料" %>
    <%= f.number_field :price, placeholder: "賃料" %>
  </div>
  <div class="house_address">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区円山町28番4号大場ビルA館 " %>
  </div>
  <div class="house_age">
    <%= f.label :age, "築年数" %>
    <%= f.number_field :age%>
  </div>
  <div class="house_comment">
    <%= f.label :comment, "備考" %>
    <%= f.text_area :comment %>
  </div>

  <%= f.nested_fields_for :stations, wrapper_tag: :div do |form| %>
    <div class="stations_line">
      <%= form.label :line, "路線名" %>
      <%= form.text_field :line, placeholder: "路線名" %>
    </div>
    <div class="stations_price">
      <%= form.label :name, "駅名" %>
      <%= form.text_field :name, placeholder: "駅名" %>
    </div>
    <div class="stations_take_minutes">
      <%= form.label :take_minutes, "徒歩分数" %>
      <%= form.number_field :take_minutes, placeholder: "徒歩分数" %>
    </div>
  <% end %>
  <%= f.add_nested_fields_link :stations, 'Add Stations' %>
  <%= f.submit %>
<% end %>
