<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
    <tr>
      <td><%= house.name %></td>
      <td><%= house.price %></td>
      <td><%= house.address %></td>
      <td><%= house.age %></td>
      <td><%= house.comment %></td>
      <td><%= link_to "詳細", house_path(house.id) %></td>
      <td data-turbolinks="false"><%= link_to "編集", edit_house_path(house.id) %></td>
      <td><%= link_to "削除", house_path(house.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
